<%- include("header") %>
<div class="intro-section">
    <h1>Register</h1>
</div>

<div>
    <form action="/register" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <button onclick="this.form.submit()">Register</button>
    </form>
</div>
<%- include("footer") %>