<%- include("header") %>
<div class="intro-section">
    <h1>Register</h1>
</div>

<form action="/register" method="post">
    <div class="login-section">
            <p><%= warningMessageRegister %></p>
            <div class="form-group mb-3">
                <p class="custom-label">Email</p>
                <input type="text" name="username" class="form-control custom-input">
            </div>
            <div class="form-group mb-3">
                <p class="custom-label">Password</p>
                <input type="password" name="password" class="form-control custom-input">
            </div>
            <button onclick="this.form.submit()" class="btn btn-lg custom-button">Register</button>
    </div>
</form>
<%- include("footer") %>