<%- include("header") %>
<div class="shopping-cart">
    <h1>*shopping cart here*</h1>
</div>
<div class="shopping-list" id="shopping-list">
    <!-- shopping list items enter here -->
    <% items.forEach(element =>{ %>
        <p><%= element.name %></p>
    <% }) %>
</div>
<%- include("footer") %>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    const socket = io("http://localhost:3000");
    socket.on('databaseUpdate', (change) =>{
        console.log(change.updateDescription);
    })
    socket.on('databaseInsert', (change) =>{
        console.log(change.fullDocument);
        const element = document.getElementById("shopping-list");
        const node = document.createTextNode(change.fullDocument.name);
        element.appendChild(node);
    })
</script>